.navbar-default {
    background-color: #2B303B;
    background-image: none;
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: 18px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.38);
    font-size: 16px;
}
.navbar-default .navbar-nav.nav-hover-dropdown>li:hover>a {
    background-image: none !important;
    background: white;
    color: #2a2a2a;
    text-shadow: 1px 1px 1px #e2dddd;
}